{% load i18n %}
{% url 'badge-view' award.badge.id as the_url %}
{% blocktrans with name=award.badge.name icon=award.badge.icon  desc=award.badge.desc %}<b>Congratulations!</b> You have won the
<b><a href="{{ the_url }}">{{ name }} <i class="{{ icon }}"></i></a></b>
badge for the notable accomplishment of: <em>{{ desc }}</em>.{% endblocktrans %}
{% if award.context %}
    {% blocktrans with context=award.context|safe %}You have earned this honor for: {{ context }}{% endblocktrans %}
{% endif %}

