{% load humanize %}
{% load i18n %}

<div class="text-center">

        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}">&lt;{% trans "prev" %}</a>
        {% else %}
            &lt;{% trans "prev" %}
        {% endif %}

            <span class="current">
              &bull; {{ page_obj.paginator.count|intcomma }} {% trans "results" %} &bull;
                {% trans "page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }} &bull;
        </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&limit={{ limit }}&q={{ q }}">{% trans "next" %} &gt;</a>
            {% else %}
                {% trans "next" %} &gt;
            {% endif %}
        </span>
</div>

