{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_title %}
    Update Post
{% endblock %}


{% block extras %}
    {# Extra header may be injected here #}
    <script src="{{ STATIC_URL }}lib/jquery.formset.js" type="text/javascript"></script>
    <script type="text/javascript">
       $(function() {
        $('.related_post').formset();
    })
    </script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            <form method="post" class="post-form">
            {% crispy form %}
            {% if formset %}
                {% for form in formset.forms %}
                   <div class="related_post">{{ form }}</div>
                {% endfor %}
                {{ formset.management_form }}
                <!--{% crispy formset helper %}-->
            {% endif %}
            <div class="buttonHolder"><input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit"> </div>
                </form>
        </div>
    </div>

    {# Disable rich text editing for preformatted posts #}
    {%  if not pre %}
        <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('id_content', {
                customConfig: '{{ STATIC_URL }}ck_config-v2.js'
            });
        </script>
    {%  endif %}

{% endblock %}
