{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load django_select2_tags %}
{% load i18n %}

{% block page_title %}
    {% trans "Update Post" %}
{% endblock %}


{% block extras %}
    {% import_django_select2_js_css %}
    <script type="text/javascript">
        // Clone related formset form
        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            reqExp = new RegExp('-' + (total-1) + '-', "g");
            newElement.find('.select2-container').remove();
            newElement.find('input').val('');
            newElement[0].innerHTML = newElement[0].innerHTML.replace(reqExp,'-' + total + '-');
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement[0]);
        }

        $(function() {
            if ($('#id_post_type').val() == 0) {
                $('.related_posts').show()
            }
            $('#id_post_type').change(function(){
            if ($(this).val() == 0 ) {
                $('.related_posts').show()
            } else {
                $('.related_posts').hide()
            }
        });
            $('#add_more').click(function() {
                cloneMore('.related_post:last', 'related_post');
            });
        })
    </script>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            <form method="post" class="post-form">
            {% crispy form %}
            {% if formset %}
                <div class="related_posts" style="display:none">
                    {% for form in formset.forms %}
                       <div class="related_post">{{ form }}</div>
                    {% endfor %}
                    {{ formset.management_form }}
                    <a href="javascript:void(0);" id="add_more">add related</a>
                </div>
            {% endif %}
            <div class="buttonHolder"><input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" id="submit-id-submit"> </div>
                </form>
        </div>
    </div>

    {# Disable rich text editing for preformatted posts #}
    {%  if not pre %}
        <script src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('id_content', {
                customConfig: '{{ STATIC_URL }}ck_config-v2.js'
            });
        </script>
    {%  endif %}

{% endblock %}
