{% extends "starbase.html" %}
{% load i18n %}
{% load server_tags %}
{% load humanize %}

{% block page_title %}
    {{ flatpage.title }} {{ SITE_NAME }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-9">
            {{ flatpage.content|safe }}
        </div>
        <div class="col-xs-3">

            <div class="user-sidebar">

                <div class="well">

                    <h4>{% trans "Server Stats" %}</h4>

                    <p>{% blocktrans with TRAFFIC=TRAFFIC|intcomma %}Traffic: <b>{{ TRAFFIC }}</b> users visited in the last hour.{% endblocktrans %}</p>


                    <p>{% blocktrans with user_count=user_count|intcomma post_count=post_count|intcomma %}The site has <b>{{ user_count }}</b> registered users that created
                        <b>{{ post_count }}</b> posts{% endblocktrans %}</li>
                    </p>
                    <p>
                        {% blocktrans with question_count=question_count|intcomma answer_count=answer_count|intcomma comment_count=comment_count|intcomma %}These are distributed as <b>{{ question_count }}</b>
                        questions,<b> {{ answer_count }}</b> answers
                        and <b>{{ comment_count }}</b> comments.{% endblocktrans %}
                    </p>


                </div>

                <h4>{% trans "Site Admins" %}</h4>
                <ul>
                    {% for user in admins %}
                        <li>{% gravatar user 30 %} {% userlink user %}</li>
                    {% endfor %}
                </ul>

                <h4>{% trans "Site Moderators" %}</h4>
                <ul>
                    {% for user in mods %}
                        <li>{% gravatar user 30 %} {% userlink user %} </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


    {% if user.is_admin %}
        {% trans "Administrator access:" %}
        <a role="button" class="btn btn-primary"
           href="{% url 'flatpage-update' flatpage.id %}">{% trans "Edit" %} {{ flatpage.title }}</a>
    {% endif %}

{% endblock %}
